
imagenes/amarilla/Natural con Flash/.DS_Store
imagenes/amarilla/.DS_Store
imagenes/.DS_Store
imagenes/amarilla/Artificial con Flash/.DS_Store
imagenes/amarilla/Artificial/.DS_Store
imagenes/amarilla/Natural/.DS_Store
imagenes/verde/.DS_Store
imagenes/verde/Artificial con Flash/.DS_Store
imagenes/verde/Artificial/.DS_Store
imagenes/verde/Natural con Flash/.DS_Store
imagenes/verde/Natural/.DS_Store
